<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spec.plun.chat.dao.ChatDAO">

  <select id="getTeamNoByRoomNo" parameterType="int" resultType="int">
    SELECT DISTINCT tm.team_no 
    FROM TB_CHAT_MEMBER cm
    JOIN TB_TEAM_MEMBER tm ON cm.user_no = tm.user_no
    WHERE cm.room_no = #{roomNo}
    LIMIT 1
  </select>
  
  <select id="getChatRoom" parameterType="int" resultType="com.spec.plun.chat.entity.ChatRoom">
	SELECT room_no AS roomNo, room_name AS roomName, create_date AS createDate
	FROM TB_CHAT_ROOM
	WHERE room_no = #{roomNo}
  </select>
	
  <update id="updateRoomName" parameterType="map">
	UPDATE TB_CHAT_ROOM
	SET room_name = #{newName}
	WHERE room_no = #{roomNo}
  </update>

  <select id="getChatMessageByRoomNo" resultType="com.spec.plun.chat.entity.ChatMessage">
	SELECT 
	  m.message_no,
	  m.room_no,
	  m.user_no,
	  u.name,
	  m.content,
	  m.create_date,
	  m.message_type
	FROM TB_CHAT_MESSAGE m
	LEFT JOIN TB_MEMBER u ON m.user_no = u.user_no
	WHERE m.room_no = #{roomNo}
	ORDER BY m.create_date ASC
  </select>
  
  <select id="getChatRooms" resultType="com.spec.plun.chat.entity.ChatRoom">
  	SELECT room_no, room_name, create_date FROM TB_CHAT_ROOM ORDER BY create_date DESC
  </select>
  
  <select id="getChatRoomsByUserNo" parameterType="map" resultType="com.spec.plun.chat.entity.ChatRoom">
	SELECT
	  cr.room_no AS roomNo,
	  cr.room_name AS roomName,
	  cr.create_date AS createDate
	FROM TB_CHAT_ROOM cr
	INNER JOIN TB_CHAT_MEMBER cm ON cr.room_no = cm.room_no
	WHERE cm.user_no = #{userNo}
	  AND cr.team_no = #{teamNo}
	ORDER BY cr.create_date DESC
  </select>
  
  <insert id="createChatRoom" parameterType="com.spec.plun.chat.entity.ChatRoom" useGeneratedKeys="true" keyProperty="roomNo">
  	INSERT INTO TB_CHAT_ROOM (room_name, team_no, create_date)
  	VALUES (#{roomName}, #{teamNo} , NOW())
  </insert>
  
  <insert id="insertMessage" parameterType="com.spec.plun.chat.entity.ChatMessage" useGeneratedKeys="true" keyProperty="messageNo" keyColumn="message_no">
  	INSERT INTO TB_CHAT_MESSAGE (room_no, user_no, content, create_date, message_type)
  	VALUES (#{roomNo},#{userNo}, #{content}, #{createDate}, #{messageType})
  </insert>
  
  <select id="getChatMembers" parameterType="int" resultType="com.spec.plun.chat.entity.ChatMember">
  	SELECT cm.user_no, m.name AS user_name
  	FROM TB_CHAT_MEMBER cm
  	JOIN TB_MEMBER m ON cm.user_no = m.user_no
  	WHERE cm.room_no = #{roomNo}
  </select>
  
  <select id="existMember" parameterType="map" resultType="boolean">
	  SELECT EXISTS (
	    SELECT 1 FROM TB_CHAT_MEMBER WHERE room_no = #{roomNo} AND user_no = #{userNo}
	  )
  </select>

  <insert id="insertMember" parameterType="map">
	  INSERT INTO TB_CHAT_MEMBER (room_no, user_no) VALUES (#{roomNo}, #{userNo})
  </insert>
  
  <delete id="deleteChatMember" parameterType="map">
    DELETE FROM TB_CHAT_MEMBER 
    WHERE room_no = #{roomNo} 
      AND user_no = #{userNo}
  </delete>
  
  <select id="getUserNameByUserNo" parameterType="int" resultType="string">
    SELECT name FROM TB_MEMBER WHERE user_no = #{userNo}
  </select>
  
</mapper>