<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spec.plun.alarm.dao.AlarmDAO" >

  <select id="selectUserNosByTeamNo" parameterType="int" resultType="int">
    SELECT user_no
    FROM TB_TEAM_MEMBER
    WHERE team_no = #{teamNo}
  </select>

  <insert id="insertAlarm" parameterType="com.spec.plun.alarm.entity.Alarm" useGeneratedKeys="true" keyProperty="alarmNo" keyColumn="alarm_no">
    INSERT INTO TB_ALARM (user_no, sender_no, alarm_type, reference_no, content, is_read, create_date)
    VALUES (#{userNo}, #{senderNo}, #{alarmType}, #{referenceNo}, #{content}, 'N', NOW())
  </insert>

  <select id="selectAlarmsByUserNo" resultType="com.spec.plun.alarm.entity.Alarm">
	SELECT 
	  a.*, 
	  u.name AS sender_name
	FROM TB_ALARM a
	LEFT JOIN TB_MEMBER u ON a.sender_no = u.user_no
	WHERE a.user_no = #{userNo}
	ORDER BY a.create_date DESC
  </select>

  <select id="selectUserNameByUserNo">
	SELECT name FROM TB_MEMBER WHERE user_no = #{userNo}
  </select>

  <update id="updateAlarmIsRead">
    UPDATE TB_ALARM SET is_read = 'Y' WHERE alarm_no = #{alarmNo}
  </update>

</mapper>